<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <div class="caption">
      <h3><%= link_to user_group.name, admin_user_group_path(user_group) %></h3>
      <h6><%= user_group.level %></h6>
      <p>
        <%= link_to 'Edit', edit_admin_user_group_path(user_group), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', admin_user_group_path(user_group), method: :delete, class: 'btn btn-primary' %>
      </p>
    </div>
  </div>
</div>
