<% if has_rights?('article', 'index') %>
    <h1>Articles</h1>
    <%= render partial: "articles/articles" %>
    <%= link_to "All", articles_path %>
<% end %>

<% if has_rights?('recipe', 'index') %>
    <h1>Recipes</h1>
    <%= render partial: "recipes/recipes" %>
    <%= link_to "All", recipes_path %>
<% end %>