<h1>Users</h1>
<% @users.each do |user| %>
    <%= user.full_name %><br/>
<% end %>

<h1>Articles</h1>

<%= render partial: "articles/articles" %>

<%= link_to "New", new_admin_article_path %> | <%= link_to "All", articles_path %>