<h1>Editing Article</h1>

<%= form_for @article, url: article_path(@article), method: :put do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
<% end %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
