<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <img src="..." alt="...">
    <div class="caption">
      <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
      <h6><%= recipe.user.full_name %></h6>
      <p>
        <% if has_rights?('recipe', 'edit', recipe.id) %>
            <%= link_to 'Edit', edit_recipe_path(recipe), class: 'btn btn-primary' %>
        <% end %>
        <% if has_rights?('recipe', 'destroy', recipe.id) %>
            <%= link_to 'Destroy', recipe_path(recipe), method: :delete, class: 'btn btn-primary' %>
        <% end %>
      </p>
    </div>
  </div>
</div>
