<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<%= render partial: "recipes/recipes", locals: {pagination: true} %>

<% if has_rights?('recipe', 'new') %>
    <%= link_to "New", new_recipe_path %>
<% end %>