<h1>New Recipe</h1>

<%= form_for @recipe, url: recipes_path, method: :post do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
<% end %>


<% if has_rights?('recipe', 'index') %>
<%= link_to 'Back', recipes_path %>
<% end %>