<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <img src="..." alt="...">
    <div class="caption">
      <h3><%= link_to user.full_name, user_path(user) %></h3>
      <p><%= user.email %></p>
      <p>
        <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', user_path(user), method: :delete, class: 'btn btn-primary' %>
      </p>
    </div>
  </div>
</div>
