<%# add navigation links to this file %>
<% if user_signed_in? %>
    <li class='nav-item'><%= link_to t('main_menu.disconnect'), destroy_user_session_path, :method => :delete, class: 'nav-link' %></li>
<% else %>
    <li class='nav-item'><%= link_to t('main_menu.connect'), user_session_path, class: 'nav-link' %></li>
    <li class='nav-item'><%= link_to t('main_menu.register'), new_user_registration_path, class: 'nav-link' %></li>
<% end %>

<li class='nav-item'><%= link_to t('main_menu.about'), page_path('about'), class: 'nav-link' %></li>