  <nav class="navbar navbar navbar-inverse">
      <%= link_to "Viet Miam", root_path, class: 'navbar-brand' %>
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
  </nav>
